@charset "UTF-8";

/*CSS Document*/

.hidden
{
	display: none;
}


@font-face {
    font-family: 'cabinbold';
    src: url('cabin-bold-webfont.woff2') format('woff2'),
         url('cabin-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cabinregular';
    src: url('cabin-regular-webfont.woff2') format('woff2'),
         url('cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
background: linear-gradient(45deg, rgba(0,255,191,1) 0%, rgba(160,255,231,1) 100%);

}

a:active,a:link, a:visited 
{
	color: #ffff;
	text-decoration: none;
	font-weight: bold;

}
a:hover
{
	color: #9ABD4B;
}



h3
{
	font-family: 'cabinbold', sans-serif;
	font-size: 60px;
	letter-spacing: 1px;
}

#siteContainer

{
	box-shadow: -1px 6px 32px 1px rgba(0,0,0,0.3);

	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #ffff;
	overflow: hidden;
}

#mainContainer
{
	width: 1024px;
	 margin: 0 auto;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: white;*/

}


.hidden
{
	display: none;
}



.mainHeader
{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 457px;
	box-shadow: 0px 20px 22px 0px rgba(0,0,0,0.57);
	position: relative;
}

#mainNav
{
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 1024px;
	align-items: center;
	height: 80px;
	background: rgba(0,0,0,.5);

}

#rightNav
{
	width: 900px;
	display: flex;
	justify-content: flex-end;
}


#rightNav li
{
	margin: 0px;
	display: inline;
	padding: 30px;
	

}

/*Navigation Effects*/
#rightNav a, #subNav a
{
	position: relative;
	padding: 10px 0;
}

.effect-3
{
	transition: all .5s;
}

.effect-3:before
{
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #9ABD4B;
	position: absolute;
	transition: all .5s;

}

.effect-3:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #9ABD4B;
	position: absolute;
	transition: all .5s;


}


.effect-3:before {
	top: 0px;

}

.effect-3:after {
	right: 0px;
	top: 40px;
}

.effect-3:hover:before,
.effect-3:hover:after {
	width: 100%;
	opacity:.5;

}
.effect-3:hover
{
	letter-spacing: 2px;
}

/*end of navEffect*/
	

#leftNav
{
	width: 70px;
	margin-left:20px;
}


/*Home Page Starts Here*/

.homeHeader
{
	background: url(../images/header_background.jpg);
}
svg
{

}
#logo
{
	width: 50%;
	margin-top: 20px;
	text-align: center;

}
/*logo animation*/

#fish
{
	animation-name: fade;
	animation-duration: 1s;
}


@keyframes fade
{
	from{opacity:0;}
	to{opacity: 1}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}


	100% {
		background-position: 0% 50%
	}
}

#texts, #anglersorg, #EST1986, #balls
{
	animation-name:fade;
	animation-duration: 1s;
	animation-delay: .5s;
/*	animation-iteration-count: infinite;*/
	transform-origin: center;
	animation-timing-function:linear;
	animation-fill-mode: forwards;
	opacity: 0;
}





.spin
{
	animation-duration: 2s;
	animation-name: spin;
	animation-delay: 1s;
 	animation-timing-function:ease;
/* 	animation-iteration-count: infinite;*/
	transform-origin: center;
	animation-fill-mode: forwards;
	opacity: 0;
}


@keyframes spin
{
	0% {transform: rotateY(180deg); opacity: 0}
	100% {transform: rotateY(0); opacity: 1}
}
.Welcome
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	color: #fff;
	background: linear-gradient(-45deg, rgba(72,228,189,1) 0%, rgba(72,228,133,1) 35%, rgba(75,189,112,1) 63%,rgba(154,189,75,1) 80%, rgba(154,189,75,1) 100%);
	background-size: 200% 200%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

.Welcome h3
{
	font-size: 60px;
	margin: 0;
	font-weight: bold;

}

#promoImage
{
	padding: 0px;
	margin:0;
	height: 607px;
	position: relative;
	
}

#promoImage img
{
	position: absolute;
	height: 100%;
	width: 100%;

}

.insetShadow
{
box-shadow: inset 0px 5px 31px 9px rgba(0,0,0,0.8);
	position: absolute;
	height: 100%;
	width: 100%;

}


.Welcome p
{
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: 1px;
}

#TRAAMeeting
{
	padding: 80px;
	background-color: #9ABD4B;
background: linear-gradient(45deg, rgba(72,228,189,1) 0%, rgba(72,228,133,1) 35%, rgba(75,189,112,1) 63%, rgba(154,189,75,1) 100%);
box-shadow: 0px 20px 22px 0px rgba(0,0,0,0.57);
}

#TRAAMeeting h3
{
	margin: 0px;
	font-size: 60px;
	text-align: center;
}

#meetingTime
{
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	color: #ffff;
}

#meetingBullet 
{
	list-style-type: square;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 50px;
	color: #ffff;
	text-align:  justify;
}

#meetingLocation
{
	text-align: right;
	font-size: 20px;
	color: #ffff;
	font-weight: lighter;
}

#aboutTRAA h3
{
	font-size: 60px;
	text-align: center;
	color: #9ABD4B;
	margin: 0;
	padding-top: 100px;
}


#gridTRAA
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
}

.descriptions img
{
	width: 150px;
	transition: .5s;
}

.descriptions p
{
	width: 200px;
	color: #9ABD4B;
	text-shadow: none;

}
.descriptions
{
	margin: 50px;
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.descriptions:hover img
{
	width: 180px;
	padding-right: 20px;
}


#events
{
	background: linear-gradient(45deg, rgba(72,228,189,1) 0%, rgba(72,228,133,1) 35%, rgba(75,189,112,1) 63%, rgba(154,189,75,1) 100%);
	height: 506px;
	position: relative;
	border-bottom: 1px solid white;
	box-shadow: 0px 20px 22px 20px rgba(0,0,0,0.57);

}
#events h3
{		padding-top: 50px;
		color: #ffff;
		position: absolute;
		transition:ease-in-out .5s all;
		left: 50px;
		top: 10px;

	


}

#events p
{
	width: 500px;
	opacity: 0;
	position: absolute;
	transition: .5s all ease;
	text-align: justify;
	right: 0px;
	top:150px;
	line-height: 30px;
	font-weight: lighter;
	letter-spacing: 2px;
	color: 

}

#events:hover h3
{	
	padding-top: 10px;
	z-index:1;
	opacity: 1;
	left: 420px;
	color: #48E4BD;
	text-shadow: 0 10px 10px black;
	
	
}

#events:hover p
{
	z-index:1;
	opacity: 1;
	right: 260px;

	
}

#events:hover #eventsImage img
{
	transform: translate(0px,0);
	filter: brightness(.3) ;

	
}

#eventsImage img
{
	height: 506px;
	position:absolute;
	padding: 0;
	margin:0;
	transition: ease-in-out .8s;
	object-fit: cover;
	transform:translate(300px,0);
	box-shadow: -10px 0px 14px -4px rgba(0,0,0,0.57);


}


#projects
{
	background-image: linear-gradient(-45deg, #9ABD4B 0%, #48E4BD 100%);
	height: 506px;
	position: relative;
	box-shadow: 0px 20px 22px 0px rgba(0,0,0,0.57);
}


#projects p
{
	width: 500px;
	opacity: 0;
	position: absolute;
	transition: .5s all ease;
	text-align: justify;
	left: 0px;
	top:150px;
	line-height: 30px;
	font-weight: lighter;
	letter-spacing: 2px;
}

#projects h3
{
	
	padding-top: 50px;
		color: #ffff;
		position: absolute;
		margin-bottom: 0px;
		transition:ease-in-out .5s all;
		right: 25px;

}

#projects:hover h3
{
	padding-top: 10px;
	z-index:1;
	right: 380px;
	color: #9ABD4B;
	text-shadow: 0 10px 10px black;
}



#projects:hover p
{
	z-index:1;
	opacity: 1;
	left: 260px;

}

#projects:hover img
{
	transform: translate(0px,0);
	filter: brightness(.3) ;

}
#projectsImage img
{
	height: 506px;
	position:absolute;
	padding: 0;
	margin:0;
	transition:ease-in-out .8s;
	object-fit: cover;
	transform:translate(-300px,0);
	z-index: 0;
	box-shadow: 10px 0px 14px -4px rgba(0,0,0,0.57);
}

#associatesLogo
{
	padding: 80px;
}

#associatesLogo #top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

}

#associatesLogo #bottom
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

#associatesLogo a:nth-child(1)
{
	width: 15%;
}

#associatesLogo a
{
	width: 25%;
}
#associates h3
{
	font-size: 60px;
	text-align: center;
	color: #9ABD4B;
	margin: 0;
	padding-top: 100px;
}



#mainFooter
{
	background-image: url(../images/footer.jpg);
	height: 236px;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

#subNav li
{
	margin: 0px;
	display: inline;
	padding: 20px;
	padding-left: 35px;
}
#subLogo
{
	grid-row-start: 2;
	grid-row-end: 4;
	padding-left: 20px;
}
#subNav
{
	grid-column-start: 2;
	grid-column-end: 5;
	display: flex;
	justify-content: flex-end;

}

#copyRight
{
	grid-row-start: 2;
	grid-column-start: 4;
	padding: 20px;
}


#copyRight p:nth-child(3)
{
	font-size: 10px;
	text-align: right;
}

#copyRight p:nth-child(2)
{
	font-size: 15px;
	text-align: right;
}














/*About Page*/





.aboutHeader
{
	
	background: url(../images/about/about_header.jpg);
	
}



#titleText
{
	position: absolute;
	margin-top: 140px;
	padding: 0 20px;
	font-size: 60px;
}


#titleText h3
{
	font-weight: lighter;
	color: #ffff;
	text-shadow: 0 10px 10px black;
	animation-name: fade;
	animation-duration: 2s;
}

#ourStory
{
	padding: 150px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#ourStory h3
{
	font-size: 60px;
	margin: 40px 0;
	position: relative;
	left: 260px;

}



#ourStory p
{
	width: 800px;
	line-height: 40px;
	text-align: justify;
	font-size: 24px;
}

#ourStory br
{
	line-height: 70px;
}

#membership
{
	display: grid;
	background: #ffff;
	grid-template-columns: 1fr 0.5fr;
	grid-template-rows: 1fr;
	height: 435px;
}

#membershipText
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

#membershipText h3
{
	font-size: 45px;
	color: #9ABD4B;
	text-align: center;
	margin: 10px;
}

#membershipText span
{
	font-size: 24px;
}

#membershipText p
{
	color: #464646;
	font-size: 20px;
	text-align: center;
	text-shadow: none;
}

#executives
{

	background-color: #9ABD4B;
background-image: linear-gradient(-45deg, #9ABD4B 0%, #48E4BD 100%);
	padding:  100px 40px;
	box-shadow: 0px 20px 22px 0px rgba(0,0,0,0.57);
}

#executives h3
{
	text-align: center;
	margin-top: 0;
	margin-top: 0px;
}


.namesTop
{
	display: flex;
	justify-content: space-evenly;
}

.namesBottom
{
	display: flex;
	justify-content: space-evenly;
}

.Names p
{
	text-align: center;
	font-size: 24px;

}



.Names span
{
	font-size: 30px;
	font-weight: bold;
}


#volunteer
{

	padding: 100px 50px;
}

#volunteer p
{
	color:#9ABD4B;
	text-shadow: none;
}

#volunteer h3
{
	font-size: 50px;
	color:#9ABD4B;
	text-align: center;
	margin-top: 0px;
}















/*Projects Page*/

#mainContainer_Projects
{
	display: flex;
	flex-direction: column;
	align-items: center;

}

#projectsDescription
{

	width: 1024px;
	padding: 80px;
}

#projectsDescription h3
{

	text-align: center;
	color:white;
	padding-bottom: 20px;
}

#projectsDescription p
{
	width: 800px;
	color:white;
	text-align: justify;
	font-size: 24px;
	line-height: 40px;

}
.projectsHeader
{
	
	background: url(../images/projects/projects_header.jpg);
	
}

.promoText_Projects
{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.projects
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: none;
	width: 1024px;
	border-bottom: 1px solid white;
	
	
	
}



.promoText_Projects h3
{
	opacity: 0;
	position: absolute;
	transition: all .5s ease;
	font-weight: lighter;
	text-shadow: 0 10px 10px black;
	z-index: 2;
}

.articles
{
	width: 700px;
	height: 250px;
	line-height: 30px;
	padding: 50px 100px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 40px;
	transition: all 1s ease;
	opacity: 1;
	overflow: hidden;
	 scroll-behavior: smooth;
	 font-weight: lighter;
	 bottom: 0;
	

}

.articles p
{
	 text-shadow: 0px 2px 1px rgba(150, 150, 150, 1);

}

.scroll
{
	overflow: auto;
	height: 100%;
	width: 100%;
	padding-right: 120px;

}

.deleteArticles
{
	height:0px;
	bottom: 100px;
	margin: 0;
	padding: 0;
}


.articles br
{
	line-height: 50px;
}

.blue
{
		background-color: #9ABD4B;
background: linear-gradient(45deg, rgba(72,228,189,1) 0%, rgba(72,228,133,1) 35%, rgba(75,189,112,1) 63%, rgba(154,189,75,1) 100%);
}

.green
{
		background-color: #9ABD4B;
background-image: linear-gradient(-135deg, #9ABD4B 0%, #48E4BD 100%);
}

.filter img
{
	top:0;
	filter:brightness(150%);
	transition: .2s;
	box-shadow: 0px 10px 14px -4px rgba(0,0,0,0.57);
	z-index: 1;
}
.gradient
{
	width: 1024px;
	height: 559px;
	background: linear-gradient(90deg, #9ABD4B 0%, #48E4BD 100%);;
	z-index: 2;
	opacity: 0;
	transition: .2s;
}

.projects:hover .gradient
{
	opacity: .5;
}
.projects:active
{
	position: relative;
	top: 3px;
}
.gradient
{
	position: absolute;
	background: linear-gradient(90deg, #9ABD4B 0%, #48E4BD 100%);;
}


.projects:hover .promoText_Projects h3
{
	opacity: 1;
	position: absolute;
	margin: 0px;
}




/*Events Page*/

.eventsHeader

{

	background: url(../images/events_hero_img.jpg) no-repeat; 
	
}




#titleText 
{
	position: absolute;
	margin-top: 140px;
	padding: 0 20px;
	font-size: 60px;

}

#titleText h3
{
	font-weight: lighter;
	color: #ffff;
	text-shadow: 0 10px 10px black;
	animation-name: fade;
	animation-duration: 2s;
}

#subNav ul
{
	width: 900px;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
#subNav li
{

	margin: 0px;
	display: inline;
	padding: 20px;
	padding-left: 35px;
}



/*Past Events Page*/

#eventsPara1
{
	padding: 50px 20px;
	text-align: center;
}


#photoEvents
{
	width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(45deg, rgba(72,228,189,1) 0%, rgba(72,228,133,1) 35%, rgba(75,189,112,1) 63%, rgba(154,189,75,1) 100%);
   
  
} 

.events h4
{
	margin: 20px;
	width: 80%;
	font-size: 30px;
}

.events p
{
	width: 80%;
	font-size: 12px;
}

.events button
{
	padding:15px 30px;
	filter: none;
	border: none;
	font-size: 15px;
	color: white;
	font-weight: normal;
background: linear-gradient(45deg, #9ABD4B 0%, #48E4BD 100%);
border-radius: 5px;
transition: .2s;
filter: brightness(110%);
}

button:hover
{
	filter: brightness(120%);
}

#photoEvents img
{

	object-fit: cover;
	transition: .5s;

}

.eventsFilter
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #9ABD4B 0%, #48E4BD 100%);;
	opacity: 0;
	transition: 1s ease;

}

.eventsHover
{
	transform: translateY(100%);
	position: absolute;
}

.events:hover .eventsFilter
{
	opacity: .8;
}


.events:hover .eventsHover
{
	transform: translateY(0);
}

.events
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}

.events:hover .eventsDescriptions
{
	opacity: 1;
}

.eventsDescriptions
{
	transition: .5s;
	position: absolute;
	opacity: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
/*Newsletter page*/

.newsletterHeader
{
	background-image: url(../images/newsletters_links_hero_img.jpg);
}

#newsletters p
{
	padding-top: 20px;
	width: 800px;
	line-height: 40px;
	text-align: justify;
	font-size: 24px;
}


#newsletters h4
{
	
	font-weighthome: bold;
	font-size:26px;
	line-height: 1.7;
	text-align: center;
}

.memoryLane h3
{
	width: 800px;
	color:  #464646;
	margin:0;
	padding: 60px 20px;
	font-size:40px;
	text-align: center;

}

.memoryLane
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:0;
	background: white;
}
.memoryLane 
{
	width: 70%;
	padding-bottom: 80px;
	margin-left: 160px;
}

.traaLinks
{

}

.TRAALinks
{

	display: flex;
	flex-direction: column;
	align-items: center;
}

.lightskyblue:hover, .lightgreen:hover
{
	position: relative;
	box-shadow: 0px 10px 50px 2px rgba(0,0,0,0.57);

}

.lightskyblue:active, .lightgreen:active
{
	position: relative;
	top: 3px;
	
}

.lightskyblue h3, .lightgreen h3
{
	position: static;
	margin: 0;
	padding: 0px;
	font-size: 50px;
	letter-spacing: 2px;
	opacity: 1;
	text-shadow: 0px 2px 9px rgba(150, 150, 150, 1);
}

.lightskyblue:after
{
	width: 2px;
	height: 10px;
	background: white;
	position: absolute;
	z-index: 1;
}

.lightskyblue a, .lightgreen a
{
		
	padding: 0;
	margin: 0;
	font-weight: lighter;
}
.lightskyblue 
{
	width: 1024px;
	top: 0;
	transition: .2s;
	background: linear-gradient(45deg, rgba(154,189,75,1) 0%, rgba(195,238,97,1) 100%);
	height: 357px;
	margin: 0;

}



.lightgreen 

{
	width: 1024px;
	top: 0;
	transition: .2s;
	background: linear-gradient(45deg, rgba(72,228,189,1) 0%, rgba(72,228,125,1) 100%);
	height: 357px;
	margin: 0;
	
}

.arrow
{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}



.arrow span:nth-child(1)
{

	width: 40px;
	height: 3px;
	background: white;
	box-shadow: 0px 2px 9px rgba(150, 150, 150, .5);
	transform: rotate(0deg);
	position: relative;
	transition: .2s;
	left: 3px;
}


.arrow span:nth-child(2)
{

	width: 40px;
	height: 3px;
	background: white;
	box-shadow: 0px 2px 9px rgba(150, 150, 150, .5);
	transform: rotate(0deg);
	position: relative;
	transition: .2s;
	right: 3px;
}

.links:hover .arrow span:nth-child(1)
{
	left: 3px;
	transform: rotate(30deg);
}

.links:hover .arrow span:nth-child(2)
{

	right: 3px;
	transform: rotate(-30deg);
}
/*Contact Page*/



/*Contact Page*/

.contactHeader
{
	background-image: url(../images/contacts_hero_img.jpg);
}

#addresInfo

{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding: 80px;

}

#addresInfo h3

{
	font-size: 35px;
	color:#343434;
	text-align: center;

}

#addresInfo a
{
font-size: 35px;
	color:#343434;
}


#mapArea
{
	height: 550px;
	width: 1022px;
	border: solid grey 1px;	
}


















.contactH3
{
	color: #343434;
	text-align: center;
	background: none;
	grid-column-start: 2;
  justify-self: center;
  font-size:50px;


}

.firstnames
{
	grid-column-start: 1;
	grid-column-end: 2;
}

.lastnames
{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	margin-right: 10px;
}

.email
{
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 4;
	margin-top: 25px;

}

.comments
{
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 4;
		margin-top: 25px;


}
.contactUs input, textarea
{
	

	border-bottom-color: #00bcff;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-size: 14px;
	width: 98%;
	padding: 10px;
	display: block;
	margin-top:10px;
	background: none;
}


.contactForm label
{
	font-size: 20px;
	font-family:"Helvetica Neue";
	font-weight: bold;
	color: #343434;

}
#names
{
	display: block;


}


.contactUs
{
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	grid-template-rows: 0.5fr  0.5fr 0.5fr;
margin: 40px 80px;
background: none;


}










.buttonContact {
 font-family: Helvetica, Arial, sans-serif;
  display: block;
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 15px;
  /*box-shadow: 2px rgba(255, 255, 255, 0.6);*/
 width: 200px;
 padding: 20px;
 text-align: center;
 justify-self: center;
	background: none;
	margin: 40px;
  /*margin-left: 40px;
  margin-top: 50px;
  margin-top: 50px;*/
  grid-row-start: 5;
 
	grid-column-start: 2;

}

#dwn
{
	text-decoration: none;
	color: #fff;
}



.buttonContact:active 
 
{
  transform: translateY(4px);
}




.buttonContact
{
background: -webkit-linear-gradient(bottom left, #23A6D5, #23D5AB);
background: -o-linear-gradient(bottom left, #23A6D5, #23D5AB);
background: linear-gradient(to top right, #23A6D5, #23D5AB);
		background-size: 120% 120%;

{
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
	@-webkit-keyframes Gradient   
	{
	0% 
	{
		background-position: 0% 50%
	}
	50% 
	{
		background-position: 100% 50%
	}
	100% 
	{
		background-position: 0% 50%
	}
}
}				


     @-moz-keyframes Gradient 
{
	0% 
	{
		background-position: 0% 50%
	}
	50%
	 {
		background-position: 100% 50%
	}
	100% 
	{
		background-position: 0% 50%
	}
}




