@charset "UTF-8";

/*CSS Document*/

.hidden
{
	display: none;
}
h1,h2,h3,p,a
{
	color: #f5f5f5;
	font-family: "Helvetica Neue"
}

h3
{
	font-size: 60px;
	letter-spacing: 1px;
}


body
{
	background: white;
}

a:active,a:link, a:visited 
{
	color: #f5f5f5;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	color: #62e1c1;
}





h3
{
	font-size: 60px;
	letter-spacing: 1px;
}

#siteContainer

{

	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #f5f5f5;
}

#mainContainer
{
	width: 1024px;
	 margin: 0 auto;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #f5f5f5;*/

}


.hidden
{
	display: none;
}



.mainHeader
{
	display: flex;
	justify-content: center;
	height: 457px;
	box-shadow: 0px 10px 50px black;
	position: relative;
}

#mainNav
{
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 1024px;
	align-items: center;
	height: 80px;
	background: rgba(0,0,0,.5);

}

#rightNav
{
	width: 900px;
	display: flex;
	justify-content: flex-end;
}


#rightNav li
{
	margin: 0px;
	display: inline;
	padding: 30px;
	

}

/*Navigation Effects*/
#rightNav a, #subNav a
{
	position: relative;
	padding: 10px 0;
}

.effect-3:before
{
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #62e1c1;
	position: absolute;
	transition: all .5s;

}

.effect-3:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #62e1c1;
	position: absolute;
	transition: all .5s;


}


.effect-3:before {
	top: 0px;

}

.effect-3:after {
	right: 0px;
	top: 40px;
}

.effect-3:hover:before,
.effect-3:hover:after {
	width: calc(100%);
	opacity: 0.7;

}


/*end of navEffect*/
	

#leftNav
{
	width: 70px;
	margin-left:20px;
}
#logo
{
	position: absolute;
	width: 30%;
	margin-top: 120px;
	padding: 0 20px;
}

.eventsHeader

{

	background: url(../images/events_hero_img.jpg) no-repeat; 
	
}



#titleText 
{
	position: absolute;
	margin-top: 140px;
	padding: 0 20px;
	font-size: 60px;
}


#titleText h2
{
	font-weight: lighter;
	color: #f5f5f5;
	text-shadow: 0 10px 10px black;
}

/*Past Events Page*/

#eventsPara1 p
{
	color: black;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 108px;
	margin-bottom:93px;
}

#photoEvents
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr; 
   grid-gap: 5px;
   background-color: #fff;
   
  
} 



#photoEvents img
{

	filter: brightness(0.65);
}

#photoEvents img:hover

{
	filter: brightness(1);
}


#eventsPara2
{
	margin-top:50px;
	margin-bottom:78px;
}

#eventsPara2 h2
{
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}
#eventsPara2 p
{
	color: #333333;
	font-weight: normal;
	text-align: center;
	font-size: 27px;
}


/*Newsletter page*/

.newsletterHeader
{
	background-image: url(../images/newsletters_links_hero_img.jpg);
}


.traaNewsletter h2
{
	color: #343434;
	font-size: 58px;
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;

}

.traaNewsletter p
{
	color: #333333;
	text-align: center;
	font-size: 20px;
	margin-left:163px;
	margin-right: 163px;
	line-height: 1.6;
	margin-bottom:100px;
}

#subTittle 
{
	font-weight: bold;
	font-size:26px;
	line-height: 1.7;
	text-align: center;
}

.memoryLane h2
{
	font-weight:bold;
	font-size:26px;
	text-align: center;
	display: flex;
	justify-content: center;
	color:#343434;
}

.memoryLane img
{
	height: 939px;
	width: 808px;
	margin-left: 116px;
	margin-top: 25px;
	padding-bottom: 40px;
	border-bottom: solid #00bcff;
}

.trraLinks h2
{
	display: flex;
	justify-content: center;
	font-size:58px;
	color: #343434;

}

.lightskyblue, .lightgreen, h3:hover
{
	text-shadow: 0 10px 10px rgba(0,0,0,.5);

}

.lightskyblue, .lightgreen, h3:active
{
	position: relative;
	top: 3px;
}


.lightskyblue 
{
	background-color: #00bcff;
	height: 357px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.lightskyblue h3
{
	font-size:50px;
	/*margin-top:100px;*/
	margin:0;

}


.lightgreen 

{
	background-color: #91ead3;
	height: 357px;
	/*margin-top: auto;*/
	font-size:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.lightgreen h3
{
	font-size:50px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin:0;
}



/*Contact Page*/

.contactHeader
{
	background-image: url(../images/contacts_hero_img.jpg);
}

#addresInfo

{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding: 80px;

}

#addresInfo h3

{
	font-size: 35px;
	color:#343434;
	text-align: center;

}

#addresInfo a
{
font-size: 35px;
	color:#343434;
}


#mapArea
{
	height: 550px;
	width: 1022px;
	border: solid grey 1px;	
}

















.contactUs
{
	background-color: #f5f5f5;

}

.contactH3
{
	color: #343434;
	text-align: center;
	background: none;
	grid-column-start: 2;
  justify-self: center;
  font-size:50px;


}

.firstnames
{
	grid-column-start: 1;
	grid-column-end: 2;
}

.lastnames
{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	margin-right: 10px;
}

.email
{
	grid-row-start: 3;
	grid-column-start: 1;
	grid-column-end: 4;
	margin-top: 25px;

}

.comments
{
	grid-row-start: 4;
	grid-column-start: 1;
	grid-column-end: 4;
		margin-top: 25px;


}
.contactUs input, textarea
{
	

	border-bottom-color: #00bcff;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-size: 14px;
	width: 98%;
	padding: 10px;
	display: block;
	margin-top:10px;
	background: #f5f5f5;
}


.contactForm label
{
	font-size: 20px;
	font-family:"Helvetica Neue";
	font-weight: bold;
	color: #343434;

}
#names
{
	display: block;


}


.contactUs
{
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	grid-template-rows: 0.5fr  0.5fr 0.5fr;
margin: 20px;

}










.buttonContact {
 font-family: Helvetica, Arial, sans-serif;
  display: block;
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 15px;
  /*box-shadow: 2px rgba(255, 255, 255, 0.6);*/
 width: 200px;
 padding: 20px;
 text-align: center;
 justify-self: center;
	background: none;
	margin: 40px;
  /*margin-left: 40px;
  margin-top: 50px;
  margin-top: 50px;*/
  grid-row-start: 5;
 
	grid-column-start: 2;

}

#dwn
{
	text-decoration: none;
	color: #fff;
}



.buttonContact:active 
 
{
  transform: translateY(4px);
}




.buttonContact
{
background: -webkit-linear-gradient(bottom left, #23A6D5, #23D5AB);
background: -o-linear-gradient(bottom left, #23A6D5, #23D5AB);
background: linear-gradient(to top right, #23A6D5, #23D5AB);
		background-size: 120% 120%;

{
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
	@-webkit-keyframes Gradient   
	{
	0% 
	{
		background-position: 0% 50%
	}
	50% 
	{
		background-position: 100% 50%
	}
	100% 
	{
		background-position: 0% 50%
	}
}
}				


     @-moz-keyframes Gradient 
{
	0% 
	{
		background-position: 0% 50%
	}
	50%
	 {
		background-position: 100% 50%
	}
	100% 
	{
		background-position: 0% 50%
	}
}







/*Home Page Start Here*/

.homeHeader
{
	background: url(../images/header_background.jpg);
}



#mainContainer
{
	
}

#Welcome
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 557px;
	background-image: linear-gradient(#6fcdff, #76fec5);
}

#Welcome h3
{
	font-size: 60px;
	margin: 0;
	font-weight: bold;

}

#promoImage
{
	padding: 0px;
	margin:0;
	position: relative;
	height: 607px;

}

#Welcome p
{
	font-size: 30px;
}

#TRAAMeeting
{
	box-shadow:0 -10px 10px black;
	position: relative;
	padding: 80px;
	background: #6fcdff;
}

#TRAAMeeting h3
{
	margin: 0px;
	font-size: 60px;
	text-align: center;
	color: #f5f5f5;
}

#meetingTime
{
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	color: #f5f5f5;
}

#meetingBullet
{
	text-align: center;
	font-size: 30px;
	color: #f5f5f5;
}

#meetingLocation
{
	text-align: right;
	font-size: 20px;
	color: #f5f5f5;
	font-weight: lighter;
}

#aboutTRAA h3
{
	font-size: 60px;
	text-align: center;
	color: #62e1c1;
	margin: 0;
	padding-top: 100px;
}

#aboutTRAA
{
	background: #f5f5f5;
}
#gridTRAA
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.descriptions img
{
	width: 150px;
}

.descriptions p
{
	width: 200px;
	color: #62e1c1;

}
.descriptions
{
	margin: 50px;
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#events
{
	background: #6fcdff;
	height: 506px;
	display: flex;
	flex-direction: column;
	justify-content: center;


}
#eventsText
{

		position: relative;
		text-align: right;
		margin-right: 100px;
}
#eventsImage
{

	position: absolute;
	width: 693px;
	height: 506px;
	background: url(../images/events.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}


#projects
{
	background: #62e1c1;
	height: 506px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

}
#projectsText
{
	color: white;
		position: relative;
		margin-right: 800px;
}
#projectsImage
{
	position: absolute;
	width: 690px;
	height: 506px;
	background: url(../images/projects.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

#associatesLogo
{
	padding: 80px;
}

#associatesLogo #top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

}

#associatesLogo #bottom
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

#associatesLogo a:nth-child(1)
{
	width: 15%;
}

#associatesLogo a
{
	width: 25%;
}















#mainFooter
{
	background-image: url(../images/footer-image.jpg);
	height: 236px;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

#subNav li
{
	margin: 0px;
	display: inline;
	padding: 20px;
	padding-left: 35px;
}
#subLogo
{
	grid-row-start: 2;
	grid-row-end: 4;
	padding-left: 20px;
}
#subNav
{
	grid-column-start: 2;
	grid-column-end: 5;
	display: flex;
	justify-content: flex-end;

}

#copyRight
{
	grid-row-start: 2;
	grid-column-start: 4;
	padding: 20px;
}


#copyRight p:nth-child(3)
{
	font-size: 10px;
	text-align: right;
}

#copyRight p:nth-child(2)
{
	font-size: 15px;
	text-align: right;
}














/*About Page*/





.aboutHeader
{
	
	background: url(../images/about/about_header.jpg);
	
}



#titleText
{
	position: absolute;
	margin-top: 140px;
	padding: 0 20px;
	font-size: 60px;
}


#titleText h3
{
	font-weight: lighter;
	color: #f5f5f5;
	text-shadow: 0 10px 10px black;
}

#ourStory
{
	background: #62e1c1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 60px;
}

#ourStory h3
{
	text-align: right;
	font-size: 60px;
	margin: 40px 0;
}



#ourStory p
{
	line-height: 40px;
	text-align: justify;
	font-size: 24px;
}

#ourStory br
{
	line-height: 70px;
}

#membership
{
	display: grid;
	background: #f5f5f5;
	grid-template-columns: 1fr 0.5fr;
	grid-template-rows: 1fr;
	height: 435px;
}

#membershipText
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

#membershipText h3
{
	font-size: 45px;
	color: #6fcdff;
	text-align: center;
	margin: 10px;
}

#membershipText span
{
	font-size: 24px;
}

#membershipText p
{
	color: #464646;
	font-size: 20px;
	text-align: center;
}

#executives
{

	background: #62e1c1;
	padding:  100px 40px;
}

#executives h3
{
	text-align: center;
	margin-top: 0;
	margin-top: 0px;
}


.namesTop
{
	display: flex;
	justify-content: space-evenly;
}

.namesBottom
{
	display: flex;
	justify-content: space-evenly;
}

.Names p
{
	text-align: center;
	font-size: 24px;

}



.Names span
{
	font-size: 30px;
	font-weight: bold;
}


#volunteer
{

	background: #f5f5f5;
	padding: 100px 50px;
}

#volunteer p
{
	color:#6fcdff;
}

#volunteer h3
{
	font-size: 50px;
	color:#6fcdff;
	text-align: center;
	margin-top: 0px;
}















/*Projects Page*/


.projectsHeader
{
	/*display: flex;
	justify-content: center;
	height: 457px;*/
	background: url(../images/projects/projects_header.jpg);
	/*box-shadow: 0px 10px 50px black;
	position: relative;
	margin-bottom: 100px;*/
}

.promoText_Projects
{

	display: flex;
	justify-content: center;
	align-items: center;
}


.projects
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: none;
	width: 1024px;
	
	
	
}

.blur
{
	transition: all .5s ease;
	filter: blur(0px);

}

.promoText_Projects h3
{
	opacity: 0;
	position: absolute;
	transition: all .5s ease;
	font-weight: lighter;
	text-shadow: 0 10px 10px black;
	z-index: 2;
}

.articles
{
	width: 700px;
	height: 400px;
	overflow: hidden;
	font-size: 24px;
	line-height: 30px;
	background: green;
	padding: 20px 100px;
	padding-top: 50px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 40px;
	transition: all 1s ease;
	opacity: 1;

}


.deleteArticles
{
	height:0px;
	bottom: 40px;
	opacity: 0;
	position: relative;
}


.articles br
{
	line-height: 70px;
}

.blue
{
	background: #6fcdff;
}

.green
{
	background: #5cd5b7;
}
.filter img
{
	filter: brightness(120%) blur(0px);
	transition: 1s;
	box-shadow: 0 20px 50px black;
	position: relative;
	z-index: 1;
}

.filter:hover img
{
	filter: brightness(70%) blur(2px);
}
.blur :hover
{
	filter: blur(10px);
}
.projects:hover .promoText_Projects h3
{
	opacity: 1;
	position: absolute;
	margin: 0px;
}

